/docker/images_save/interpeter.tar
/.idea/
/data/GeneBank/
/data/mutants/ERR4157959/
/data/mutants/
/data/mutants/Sars_cov_2.ASM985889v3.dna.toplevel.fa
/data/mutants/Sars_cov_2.ASM985889v3.101.gtf
/data/mutants/ERR4395294/
/lb/_build